@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.logoNavbar {
    cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Averia Libre';
  background-color: #ADD4D0;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ADD4D0;
    Height: 100%;
}

.barraPesquisa {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
}

.gradeCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .dadosCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
  }

  .nomeVacina {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Averia Libre';
    color: #3F92C5;

  }

  .doseVacina {
    font-size: 15px;
    margin-bottom: 5px;
    background-color: #3F92C5;
    color: #fff;
    padding: 3px;
    font-family: 'Averia Libre';

  }

  .dataVacina {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Averia Libre';
    color: #3F92C5;

  }

  .proximaDoseCard {
    font-family: 'Averia Libre';
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    color: red;
  }

  input{
    font-family: 'Averia Libre';
  }

  .botaoNovaVacina {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #37BD6D;
    color: #fff;
    font-family: 'Averia Libre';
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;

    cursor: pointer;
  }

  .botao{
    cursor: pointer;

    background: #419ED7;
    border: 1px solid #419ED7;

    font-family: Averia Libre;
    font-style: normal;

    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    
    color: #FFFFFF;

    margin: 5px;
}