@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* Language: css */
.logoNavbar {
    cursor: pointer;    
}

.bg{
    background-image: url(./Imagens/vacina-pacientes-oncologicos.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    opacity: 0.5;
}

.corpo{
    position: relative;
    background-position: center;
    background-size: contain;
    display: flex;
   

    max-width: 100%;
    height: 90%;
}

.corpocontent{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
    opacity: 1;
    width: 100%;
}

#textoCorpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;  
    height: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
}

#textoDoCorpo{
    font-family: 'Averia Libre';
    color: #419ED7;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 76px;
    text-align: center;
}



.botao{
    background: #419ED7;
    border: 1px solid #419ED7;

    font-family: Averia Libre;
    font-style: normal;

    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    
    color: #FFFFFF;
    
    margin: 10px;
}