@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background-color:#8FE1D9;

    padding-left: 10;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 10;

    height: 82px;

    font-family: 'Averia Libre';

}

.botoesDireita {
    display: flex;
    flex-direction: row;

}

.logoNavbar {
    display: flex;
    align-items: center;

    font-family: 'Averia Libre';
    font-style: normal;

}

h1{
    display: flex;
    align-items: center;   

    font-family: Averia Libre;
    font-style: normal;

    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;

    color: #419ED7;

    
}

.navbar button{
    background: #419ED7;
    border: 1px solid #419ED7;

    font-family: Averia Libre;
    font-style: normal;

    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    
    color: #FFFFFF;

    margin: 5px;
}



.botao{ 

        display: flex;
        align-items: center;     

}

.menusNavbar{
    display: flex;
    justify-content:
    margin: 10px 5px;
}

